// --------------Variables------------------------------
// Modify Bootstrap variables here and create your own.
//
// Variable list: http://getbootstrap.com/customize/
.fa-to-orange{ color: $sesame-orange; }

.red-color{ background: red; background-color: red; }

.center{ text-align: center; }
.center-div{
  display: block;
  margin: auto;
}
.page-header{
  padding-bottom: 9px;
  margin: 5px 0 20px;
  border-bottom: 1px solid #eeeeee;
}


.space5{ display: inline-block; width:5px; height:1px; }
.space10{ display: inline-block; width:10px; height:1px; }
.space15{ display: inline-block; width:15px; height:1px; }
.space20{ display: inline-block; width:20px; height:1px; }
.space25{ display: inline-block; width:25px; height:1px; }

.room-right-5{ display: inline-block; margin-right: 5px; }
.room-right-10{ display: inline-block; margin-right: 10px; }
.room-right-15{ display: inline-block; margin-right: 15px; }
.room-right-20{ display: inline-block; margin-right: 20px; }
.room-right-25{ display: inline-block; margin-right: 25px; }

.room-left-5{ margin-left: 5px; }
.room-left-10{ margin-left: 10px; }
.room-left-15{ margin-left: 15px; }
.room-left-20{ margin-left: 20px; }
.room-left-25{ margin-left: 25px; }
.room-left-25{ margin-left: 50px; }

.space-up-5{ margin-top: 5px; }
.space-up-10{ margin-top: 10px; }
.space-up-15{ margin-top: 15px; }
.space-up-20{ margin-top: 20px; }
.space-up-25{ margin-top: 25px; }
.space-up-30{ margin-top: 30px; }
.space-up-35{ margin-top: 35px; }
.space-up-40{ margin-top: 40px; }
.space-up-45{ margin-top: 45px; }
.space-up-50{ margin-top: 50px; }
.space-up-75{ margin-top: 75px; }
.space-up-250{ margin-top: 250px; }

.room-around-55{ margin:5px; padding:5px; }
.room-around-1010{ margin:10px; padding:10px; }
.room-around-1515{ margin:15px; padding:15px; }
.room-around-5{ padding:5px; }
.room-around-10{ padding:10px; }
.room-around-15{ padding:15px; }

.orange-bar-100{ display: block; height:3px; background-color: $sesame-orange; width: 100px; }
.orange-bar-150{ display: block; height:3px; background-color: $sesame-orange; width: 150px; }
.orange-bar-200{ display: block; height:3px; background-color: $sesame-orange; width: 200px; }
.orange-bar-250{ display: block; height:3px; background-color: $sesame-orange; width: 250px; }

.yellow-bar-100{ display: block; height:3px; background-color: $sesame-yellow; width: 100px; }
.yellow-bar-150{ display: block; height:3px; background-color: $sesame-yellow; width: 150px; }
.yellow-bar-200{ display: block; height:3px; background-color: $sesame-yellow; width: 200px; }
.yellow-bar-250{ display: block; height:3px; background-color: $sesame-yellow; width: 250px; }

.blue-bar-25{ display: block; height:3px; background-color: $sesame-blue; width: 25px; }
.blue-bar-50{ display: block; height:3px; background-color: $sesame-blue; width: 50px; }
.blue-bar-100{ display: block; height:3px; background-color: $sesame-blue; width: 100px; }
.blue-bar-150{ display: block; height:3px; background-color: $sesame-blue; width: 150px; }
.blue-bar-200{ display: block; height:3px; background-color: $sesame-blue; width: 200px; }
.blue-bar-250{ display: block; height:3px; background-color: $sesame-blue; width: 250px; }
.undecorated-link{ text-decoration: none; }
hr.thin-hr{
  margin-top: 2px;
  margin-bottom: 2px;
  border-top: dashed 1px;
}
hr.thin-hr-spaced{
  margin-top: 8px;
  margin-bottom: 8px;
  border-top: dashed 1px;
}
.dwarf{
  display: inline-block;
  line-height: 1.21em;
  font-size: 1em;
  vertical-align: middle;
}

.show_me{ display: inline }
.hide_me{ display: none }

.title-emphasis{
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 1em;
}
.invalid-feedback{
  font-weight: 400;
  color: $sesame-orange;
  font-size: 0.9em;
}

li.company{
  background-color: $sesame-blue;
  a {
    color: $sesame-yellow ;
    font-weight: 600;
  }
  a:hoover {
    color: $sesame-blue ;
  }
}

a.text-muted{
  color: #AAA !important;
}
