// --------------Variables------------------------------
// Modify Bootstrap variables here and create your own.
//
// Variable list: http://getbootstrap.com/customize/
.fa-to-orange{ color: $sesame-orange; }

.red-color{ background: red; background-color: red; }

.center{ text-align: center; }

.space5{ display: inline-block; width:5px; height:1px; }
.space10{ display: inline-block; width:10px; height:1px; }
.space15{ display: inline-block; width:15px; height:1px; }
.space20{ display: inline-block; width:20px; height:1px; }
.space25{ display: inline-block; width:25px; height:1px; }

.room-right-5{ display: inline-block; margin-right: 5px; }
.room-right-10{ display: inline-block; margin-right: 10px; }
.room-right-15{ display: inline-block; margin-right: 15px; }
.room-right-20{ display: inline-block; margin-right: 20px; }
.room-right-25{ display: inline-block; margin-right: 25px; }

.room-left-5{ margin-left: 5px; }
.room-left-10{ margin-left: 10px; }
.room-left-15{ margin-left: 15px; }
.room-left-20{ margin-left: 20px; }
.room-left-25{ margin-left: 25px; }

.space-up-5{  margin-top: 5px; }
.space-up-10{  margin-top: 10px; }
.space-up-15{ margin-top: 15px; }
.space-up-20{ margin-top: 20px; }
.space-up-25{ margin-top: 25px; }
.space-up-30{ margin-top: 30px; }
.space-up-35{ margin-top: 35px; }
.space-up-40{ margin-top: 40px; }
.space-up-45{ margin-top: 45px; }
.space-up-50{ margin-top: 50px; }
.space-up-75{ margin-top: 75px; }
.space-up-250{ margin-top: 250px; }

.room-around-55{ margin:5px; padding:5px; }
.room-around-1010{ margin:10px; padding:10px; }
.room-around-1515{ margin:15px; padding:15px; }
.room-around-5{  padding:5px; }
.room-around-10{ padding:10px; }
.room-around-15{ padding:15px; }

a:link.undecorated-link{ text-decoration: none; }
hr.thin-hr{margin-top: 3px; margin-bottom: 3px;}
