.s-background{
  background-color: $sesame-blue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.petal {
  display: block;
  margin:10px 5px 20px  5px;
}
.petal-up{
  vertical-align:bottom;
}
.petal-down{
  vertical-align:top;
}
.petal-right{
  text-align: left;
  padding-left: 15px;
  padding-right: 5px;
}
.petal-left{
  text-align: right;
  padding-right: 15px;
  padding-left: 5px;
}
.petal-up.petal-left{
  border-radius: 80px 40px  0px 40px;
  border: 6px solid $sesame-orange;
}
.petal-up.petal-right{
  border-radius: 40px 80px 40px  0px;
  border: 6px solid $sesame-yellow;
}
.petal-down.petal-left{
  border-radius: 40px 0px 40px 80px ;
  border:6px solid yellow;
}
.petal-down.petal-right{
  border-radius: 0px 40px 80px 40px ;
  border: 6px solid $sesame-blue;
}
.brownify{
  border-radius: 0px 40px 80px 40px ;
  border: 6px solid brown;
  padding-left: 15px;
}
.oim-title{
  line-height: 2.7em;
  vertical-align: middle;
  font-size: 1.6em;
}
.shine_1, .shine_2, .shine_3, .shine_4 {
  display: none;
}
.announce-frame{
  padding: 2rem;
  background-color: $sesame-blue;
  color: white;
  border: 2px solid $sesame-yellow;
  border-radius: 10px;
}
.announce-title{
  font-size: 1.5em;
  padding: 15px;
  text-align: right;
  // line-height: 3em;
  font-weight: 600;
}
.announce-body{
  font-size: 1.2em;
  padding: 15px;
  text-align: justify;
  border: 2px $sesame-blue dashed;
  border-radius: 15px;
}
