.s-background{
  background-color: $sesame-blue;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.petal {
  clear:both;
  display: block;
  margin:10px 5px 20px  5px;
}
.petal-up{
  vertical-align:bottom;
}
.petal-down{
  vertical-align:top;
}
.petal-right{
  text-align: left;
  padding-left: 15px;
  padding-right: 5px;
}
.petal-left{
  text-align: right;
  padding-right: 15px;
  padding-left: 5px;
}
.petal-up.petal-left{
  border-radius: 80px 40px  0px 40px;
  border: 6px solid $sesame-orange;
}
.petal-up.petal-right{
  border-radius: 40px 80px 40px  0px;
  border: 6px solid $sesame-yellow;
}
.petal-down.petal-left{
  border-radius: 40px 0px 40px 80px ;
  border:6px solid yellow;
}
.petal-down.petal-right{
  border-radius: 0px 40px 80px 40px ;
  border: 6px solid $sesame-blue;
}
.brownify{
  border-radius: 0px 40px 80px 40px ;
  border: 6px solid brown;
  padding-left: 15px;
}
.oim-title{
  line-height: 2.7em;
  vertical-align: middle;
  font-size: 1.6em;
}
.shine_1, .shine_2, .shine_3, .shine_4 {
  display: none;
}
.announce-container{
  min-width: 250px;
  max-width: 530px;
  float:left;
  min-height: 200px;
  text-align:center;
  margin: 10px 15px 0 15px;
}
// .announce-frame{
//   padding: 2rem;
//   background-color: $sesame-blue;
//   color: white;
//   border: 2px solid $sesame-yellow;
//   border-radius: 10px;
// }
.announce-title{
  font-size: 1.3em;
  line-height: 2em;
  vertical-align: middle;
  color: white;
  width:100%;
  font-weight: 600;
  // text-shadow: 2px 3px 1px #9cb0e5;
  background-color: $sesame-blue;
  border-radius: 5px 5px 0 0 ;
}
.announce-badge{
  text-align: right;
  float: left;
  margin: 0 15px 7px 0;
}
.announce-body{
  text-align: justify;
  font-size: 1em;
  line-height: 1.8em;
  padding: 25px 25px 5px 25px;
  border: 3px $sesame-blue solid;
  border-radius: 0 0 5px 5px;
  background-color: #e8e9ef;
}
p.announce-timing{
  background-color: #CCC;
  color: #777;
  width: 100%;
  text-indent:55px;

}
.clear{
  clear:both;
}
