// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.action-line{
  line-height: 2em;
  vertical-align: middle;
}
.light-frame{
  padding:4px;
  margin:3px;
  position:relative;
  border: 1px solid green;
  border-radius: 5px;
  width: 50px;
}
.player-list{
  display: block;
  clear:both;
  width: 200px;
  overflow-x: hidden;
}
