p.exercice-under-title{
  line-height: 0.8em;
}
.exercice-show-caption{
  font-weight: 800;
  font-stretch: expanded;
  display: block;
  color: $sesame-blue;
}
.left-side-emphasis{
  border-left: 3px $sesame-blue solid;
}
.search-line{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  line-height: 2.2em;
  vertical-align: middle;
  border-top: 1px $sesame-orange  solid;
  border-bottom: 1px $sesame-orange solid;
  color: $sesame-blue;
}
.query-small{
  font-size: 0.9em;
}
