// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.squareBorder{
  border: 2px solid green;
  margin: 2px;
}
.movieBorder{
  border: 2px solid orange;
}
.image-line-container{
}
.image-container{
  min-height: 160px;
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}
.image-part{
  border: 3px dotted orange;
  padding:5px;
}
#widthbox{
  text-indent: 3px;
}
.link-part{
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}
.hide-me{
  display: none;
}
