@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
$font-family-sans-serif: "Lato";
$headings-font-weight: 300;

$brand-primary: darken(#428bca, 6.5%);
@import 'globals/variables';
$navbar-default-bg: $sesame-blue;
$navbar-default-border: white;
$navbar-default-link-color: $sesame-yellow;
$navbar-default-link-hover-color: white;

$navbar-default-link-active-bg: $sesame-orange;
$navbar-default-link-active-color: white;

// $body-bg: $sesame-blue;
$body-bg: white;

$slideup-navbar-height: 150px;

$border-radius-base: 2px;
$border-radius-large: 2px;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'components/slideup_header';
// -------------------
// CUSTOMIZING
// -------------------
@import 'globals/common';
.container-fluid{
  background: $sesame-blue;
}

.showing-off{
  line-height: 2.2em;
  font-weight: 600;
}
.showing-off:nth-child(2) > span:nth-child(1) > strong:nth-child(1){
    color:$sesame-yellow;
}
.showing-off:nth-child(2) > span:nth-child(1){
  font-size: 1.4em;
  line-height: 1.7em;
  before:{ content: "Prochain spectacle : "}
}
hr.splash-next-performance{
  width:40%
}
// -------------------
// END CUSTOMIZING
// -------------------
.navbar-inverse .navbar-nav > li > a, a.inline{
  font-size: 1.2em;
  line-height: 1.8em;
  vertical-align: middle;
}
.btn-lg {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
}
.navbar{
  vertical-align: bottom;
}
.public.navbar{
  line-height: 3.5em;
}
a.btn-lg {
  text-decoration: none;
  color: $sesame-yellow;
}
a:hover.btn-lg {
  text-decoration: none;
  color: white;
}
a.dropdown-toggle {
  text-decoration: none;
  color: white;

}
ul.navbar{
  line-height: 2em;
}
ul a li{
  line-height: 1em;
}

$splash-section-padding: 3em;
.inner-column {
  h1 { color:$sesame-yellow;}
  input { background-color: $sesame-blue;}
}

body.splash {
  text-align: center;
  color: white;
  background-color: $sesame-blue;


  p.info {
    font-size: 1.5em;
  }

  section {
    padding-top: $splash-section-padding;
    padding-bottom: $splash-section-padding;
    @extend .clearfix;
  }

  header {
    height: 0;
  }
  .affix-top .navbar {
    background: transparent;
  }

  .lightimage {
    padding-top: 2 * $font-size-base + $slideup-navbar-height;
    background-size: cover;
    min-height: 400px;
    p { padding: 2em 0;}
    overflow: hidden;
    position: relative;

    .row {
      position:relative;
      z-index:2;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.8;
      background-image: asset-url('general_light3.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }

  .colored.primary {
    background: $sesame-blue;
    color: white;

    p {
      padding: 2em 0;
      font-size: 1.3em;
    }
  }

  .inner-column {
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
  }

  .inner-block {
    @extend .col-md-3;
    @extend .col-sm-6;

    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .quarter-block {
    width: 25%;
    float: left;
    border:1px solid $sesame-blue;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    // overflow: hidden;
    img {
      @extend .img-responsive;
    }
  }
}

.btn-primary {
  &:hover {
    border: 1px solid $brand-primary;
    background: white;
    color: $brand-primary;
  }
}
.btn-primary-inverted {
  background: white;
  color: $brand-primary;

  &:hover {
    border: 1px solid white;
    background: $brand-primary;
    color: white;
  }
}
.player-frame{
  display:block;
  padding: 10px;
  height : 450px;


  .player-image{
    text-align: center;
    margin: auto;
    img.one{
      border:2px solid black;
      border-top-right-radius: 100px 100px;
      border-bottom-left-radius: 100px 100px;
      border-bottom-right-radius: 60px;
    }
    img.two{
      border:2px solid $sesame-orange;
      border-top-left-radius: 100px 100px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 100px 100px;
    }
    img.three{
      border:2px solid $sesame-yellow;
      border-top-left-radius: 100px;
      border-top-right-radius: 60px;
      border-bottom-right-radius: 100px 70px;
    }
    img.four{
      border:2px solid white;
      border-top-left-radius: 60px;
      border-top-right-radius: 100px 140px;
      border-bottom-left-radius: 100px;
    }
  }
  .player-bio{
    text-align: justify;
    margin: auto;
    width:250px;
    margin-top: 20px;
    height: 170px;
    overflow: hidden;
  }
}
.photo-galery{
  margin-top:15px;
  border:1px solid black;
  height: 100%;
  width:100%;

}
#signup_email{
  color: $sesame-hell-blue;
}
