// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list{
  line-height: 40px;
  vertical-align: middle;
}
.user-show{
  line-height: 3em;
  vertical-align: middle;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.badge_user{
  display: block;
  // min-width: 100px;
  height: 2.2em;
  margin-top: 0.5em;
  // margin-right: 1em;
  padding-left:0.8em;
  padding-right:0.8em;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  overflow-x: hidden;

  vertical-align: middle;
  float:left;
  background-color:$sesame-blue;
  font-weight: 400;
}
.title-user-show{
  line-height: 250px;
  vertical-align: top;
}
.form-std-height{
  margin-top: 10px;
  line-height: 30px;
  vertical-align: middle;
}
.phone-big{
  font-size: 1.4em;
  font-weight: 600;
}
