// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list{
  line-height: 40px;
  vertical-align: middle;
}
.user-show{
  line-height: 3em;
  vertical-align: middle;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.badge_user{
  min-width: 125px;
  //height: 2.2em;
  line-height: 1.4em;
  margin-top: 0.6em;
  padding-left:0.8em;
  padding-right:0.8em;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  float:left;
  background-color:$sesame-blue;
  font-weight: 400;
}
.title-user-show{
  line-height: 250px;
  vertical-align: top;
}
.form-std-height{
  margin-top: 10px;
  line-height: 30px;
  vertical-align: middle;
}
.phone-big{
  font-size: 1.4em;
  font-weight: 600;
}
.user-badge-line{
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}
p.bio:first-of-type:first-letter {
  float:left;
  font-size: 5em;
  padding: 0.05em 0.05em 0 0;
}
.in-dallas{
  -moz-border-radius-topleft: 50%;
  -webkit-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -webkit-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  -webkit-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
#chars_left{
  font-size: 0.8em;
  display: inline-block;
  text-align:right;
  width:200px;
  position:relative;
  top:-20px;
}
.alert-chars-too-many{
  font-weight: 600;
  color: red;
}
.ok-chars{
  font-weight: 300;
  color: green;
}
