// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.date-choice{
  min-width: 11em;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-top:1em;

}
td.date-choice{
  select{
    margin:auto;
    width:73%;
  }
  textarea{
    margin:auto;
    width: 9em;
    height:4em;
  }
}
td.date-choice:nth-child(2n+1){
  //border: 2px solid navy;
}
td.date-choice:nth-child(2n+0){
  background: LightBlue;
}

.footer-line{
  line-height: 80px;
  vertical-align: bottom;
}
.validated_vote{
  background-color: green;
  color:white;
}
.invalidated_vote{
  color:white;
  background-color: red;
}
.mitigated_vote{
  color:white;
  background-color: orange;
}
.others_votes{
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.bell{
  color: red;
}
.vote_buttons{
  display: block;
  padding : 5px;
  width:80px;
  background-color:#c8e3ea;
  border-radius: 5px;
  border:1px $sesame-blue solid;
}
.maybe-vote{
  font-weight: 600;
  border: 2px $sesame-blue dashed;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
