p
  | Hello #{@resource.email}!
p Quelqu'un (et on espère vraiment que c'est bien toi) a demandé un changement de mot de passe.
p Voici le lien : #{link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token)}
p Si ce n'est pas toi qui a demandé ce changement, il y a comme qui dirait un loup : touches-en un mot à Etienne, please !
p
p Les Sésames
